/* .rootContainer{
  width: 100vw;
} */
.carousel {
  width: 98vw;
  display: flex;
  position: relative;
  margin: 0px auto;
}
.carousel-img {
  width: 100%;
  display: none;
  cursor: pointer;
}
.btn-carousel {
  position: absolute;
  top: 40%;
}
.btn-left {
  left: -10;
}
.btn-right {
  right: -10;
}
.deal-img{
  width: 150px;
  height: 150px;
  cursor: pointer;
}

.nav-style > button {
  display: block;
}

.filter-sidebar,.content-listing{
  height: 80vh;
  overflow-y: auto;
}
.whishlist-card{
  height: 200px;
  width: 98%;
}
.wishlist-header{
  justify-content: space-between;
}
.align-center{
  align-items: center;
}
.space-between{
  justify-content: space-between;
}
.signUp-box{
  margin: auto;
  min-height: 60vh;
  width: 50vw;
}
.loginBtn{
  width:140px;
}
.z-100{
  z-index: 100;
}
.footer{
  margin-top: 4rem;
}
@media screen and (max-width: 768px) {
  .nav-style {
    display: flex;
    flex-direction: column;
  }
  .carousel > .button {
    width: 20px;
    height: 20px;
    font-size: 0.4rem;
  }
  .signUp-box{
    width: 80vw;
  }
}
